# --- Виртуальное окружение (не коммитят) ---
venv/
project/venv/

# --- Python мусор ---
__pycache__/
*.py[cod]

# --- Мои заметки (локальные файлы) ---
/*.md              
!/README.md        

#(опционально) если у тебя заметки не только в корне, а вообще везде:
 *.md

# (опционально) если хочешь игнорировать только конкретные файлы:
/Журнал.md
/Jinja2 примеры.md
/jinja2.md
/Параметры FastAPI.py
/test.py   
